import * as React from 'react'

export interface {{properCase name}}Props {
//Props goes here
}

export const {{properCase name}} = ({ ...props }: {{properCase name}}Props) => {

return (
<div {...props}>

</div>
)
}